.todos {
  background-color: aliceblue;
  padding: 10px 50px 10px 20vw;
  border-bottom: 2px solid rgba(130, 12, 46, 0.5);
  position: relative;
}

.todos__header-bar {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  max-width: 445px;
  justify-content: space-between;
}

.todos__title {
  margin: 0;
}

.todos__select {
  cursor: pointer;
  font-family: cursive, Courier, monospace;
}

.todos__inputAndButtonContainer {
  display: flex;
  gap: 10px;
}

.todos__input {
  border: 1px solid black;
  margin: 0;
  border-radius: 5px;
  height: 22px;
  box-sizing: border-box;
}

.todos__add-item-button {
  margin: 0;
  border-radius: 5px;
  font-family: cursive, Courier, monospace;
  cursor: pointer;
  height: 22px;
}

.list {
  list-style-type: circle;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  padding-left: 30px;
}

.list__item {
  display: flex;
  list-style-type: circle;
  align-items: center;
  gap: 10px;
  position: relative;
}

.list__checkbox {
  list-style-type: square;
  margin: 0;
  align-self: normal;
  cursor: pointer;
}

.list__text {
  margin: 0;
  cursor: move;
}

.list__text_complete {
  text-decoration: line-through;
}

.list__line {
  flex: 1 1;
  border-bottom: 4px dotted rgba(125, 125, 125, 0.2);
  height: 4px;
  cursor: move;
}

.list__delete-button {
  flex-grow: 0;
  margin-left: auto;
  font-family: cursive, Courier, monospace;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .todos {
    padding: 10px 30px;
  }
  .todos__header-bar {
    flex-direction: column;
    gap: 0px;
    align-items: normal;
  }
  .todos__subtitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 400px) {
  .todos__inputAndButtonContainer {
    flex-direction: column;
  }
  .todos__subtitle {
    font-size: 20px;
  }
  .list {
    padding: 0;
  }
  .list__text {
    font-size: 16px;
  }
  .list__delete-button {
    font-size: 10px;
  }
}
