.header {
  padding: 25px 25px 25px 20vw;
  background-color: antiquewhite;
  border-bottom: 2px solid lightblue;
}
.header__title {
  margin: 0;
}

@media screen and (max-width: 400px) {
  .header {
    padding: 10px 30px;
  }
  .header__title {
    font-size: 28px;
  }
}
